[Desktop Entry]
Name=Flrig
GenericName=Amateur Radio Rig Control
Comment=Amateur Radio Communications
Exec=flrig
Icon=flrig
Terminal=false
Type=Application
Categories=Network;HamRadio;
